#navigate_menu li a:hover {background-color: #f1f1f1}

#navigate_menu {
  /*display: block;*/
  list-style-type: none;
  max-width: 800px; 
  min-width: 100px; 
  width: 250px; 
  overflow: auto;
}

#navigate_menu a {
  list-style-type: none;
  color: #333333; 
  text-decoration: none;
}

#navigate_menu li  {
  padding-left: 2px;
  clear: both;
  list-style-type: none;
}

.tdd {
  max-height: 500px;
  padding: 0px;
  overflow-y: auto;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  overflow-x: auto;
} 

.float-wrapper {
  position: fixed !important;
  top: 120px;
  max-width:600px;
  right: 20px;
  border: thin solid rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  padding:10px;
  background-color: #fff;
  opacity: .8;
  z-index: 100;
  overflow: hidden;
}

.sidebar-wrapper {
    height: 100%;
    right: 5px;
    padding: 10px;
    position: fixed !important;
    width: 212px;
    max-width: 28%;
    background-color: #fff;
    border-style: solid;
    border-color: #eeeeee;
    opacity: .99;
    overflow: hidden;
}

#tdd-wrapper.closed {
  min-width: 100px;
  width: auto;
  transition: width;
}
#tdd-wrapper:hover{
  opacity: 1;
}
#tdd-wrapper .header {
  font-size: 18px;
  font-weight: bold;
}
#tdd-wrapper .hide-btn {
  font-size: 14px;
  font-family: monospace;
}

#tdd-wrapper .reload-btn {
  font-size: 14px;
  font-family: monospace;
}

/* don't waste so much screen space... */
#tdd-wrapper .tdd-item{
  padding-left: 20px;
}

#tdd-wrapper .tdd-item .tdd-item{
  padding-left: 10px;
}

.tdd-green  {color: green} 
.tdd-red  {color: red} 
